<template>
  <b-card title="Create Quiz">
    <!-- FORM COLLECTION -->
    <b-form-group label="Name of collection:">
      <b-form-input v-model="collection" trim required placeholder="Ex. Series"></b-form-input>
    </b-form-group>
    <!-- QUESTION -->
    <b-form-group label="Question:">
      <b-form-input
        v-model="question"
        trim
        required
        placeholder="Ex. Whats is car name car driven by the superhero Batman?"
      ></b-form-input>
    </b-form-group>
    <!-- OPTIONS -->
    <b-input-group prepend="Option" class="mb-2">
      <b-form-input v-model="option" @keydown.enter="addOption" trim placeholder="Ex. Batmobile"></b-form-input>
      <b-input-group-append>
        <b-button variant="outline-success" :disabled="!option" @click="addOption">Add Option</b-button>
      </b-input-group-append>
    </b-input-group>
    <!-- SELECT ANWERS -->
    <b-form-group label="Select one answer" v-show="options.length">
      <b-form-radio
        v-for="(opt, index) in options"
        :key="index"
        :value="index"
        v-model="answerIndex"
      >
        <span>{{opt.name}}</span>
      </b-form-radio>
    </b-form-group>
    <!-- SAVE -->
    <div class="d-flex justify-content-end">
      <b-button class="mr-2" variant="primary" @click="addQuestion">Add new question</b-button>
      <b-button variant="primary" @click="onSaveCollection">Finish</b-button>
    </div>
    <!-- PREVIEW -->
    <div class="mb-2">
      <p class="font-weight-bold">Preview</p>
      <b-card :title="collection" class="shadow-sm">
        <QuestionBox :noActions="true" v-bind="{ question, options }" />
      </b-card>
    </div>
    <!-- PREVIEW COLLECTION -->
    <p class="font-weight-bold">Questions of Collection</p>
    <b-list-group>
      <b-list-group-item
        v-for="(qCol, index) in allQuestions"
        :key="index"
        @click="changeQuestion(qCol)"
      >
        <span>{{ qCol }}</span>
      </b-list-group-item>
      <b-list-group-item v-if="!allQuestions.length">No Questions in this Collection!</b-list-group-item>
    </b-list-group>
  </b-card>
</template>

<script>
import QuestionBox from "../components/QuestionBox";

import { generateId } from "@/utils";
import { mapState, mapActions } from "vuex";

export default {
  name: "CreateQuiz",
  components: {
    QuestionBox
  },
  data: () => ({
    collection: "",
    question: "",
    option: "",
    options: [],
    questions: [],
    answerIndex: null
  }),
  methods: {
    ...mapActions(["saveCollection"]),
    addOption() {
      const { option: name } = this;
      const hasExist = this.options.some(o => o.name == name);

      if (hasExist) {
        return alert("This option already exists!");
      }

      if (name.trim()) {
        this.options.push({ name, correct: false });
        this.option = "";
      }
    },
    addQuestion() {
      const { question, options } = this;

      if (!this.options.length) {
        return alert("You add options to question");
      }

      if (!this.answerIndex != null) {
        return alert("You need set one option has answer");
      }

      options[this.answerIndex].correct = true;
      this.questions.push({ question, options });

      this.resetFormQuestion();
    },
    resetFormQuestion() {
      this.question = "";
      this.options = [];
      this.option = "";
      this.answerIndex = null;
    },
    changeQuestion(qCol) {
      const { question, options } = qCol;
      const hasQuestionPendent = this.question || this.options;

      if (hasQuestionPendent && !confirm("Discard question pendent?")) {
        return;
      }

      this.question = question;
      this.options = options;
    },
    onSaveCollection() {
      if (this.collections.includes(this.collection)) {
        return alert("This collection is in use.");
      }

      const { collection, questions } = this;
      const id = generateId();

      if (collection && questions) {
        this.saveCollection({ id, name: collection, questions });
      }
    }
  },
  computed: {
    ...mapState(["collections"]),
    allQuestions() {
      return this.questions.map(q => q.question);
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
