<template>
  <b-card :title="collection.name" class="shadow-sm">
    <b-progress class="mb-2" :value="progress" show-progress></b-progress>
    <b-card-text>
      <QuestionBox
        :question="currentQuestion.question"
        :options="currentQuestion.options"
        :isLatest="isLatest"
        @cancel="cancel"
        @skip="skip"
        @resolved="onResolved"
      />
    </b-card-text>
  </b-card>
</template>

<script>
import QuestionBox from "@/components/QuestionBox";

import { mapState, mapActions } from "vuex";
import { shuffle, percentOf } from "../utils";

export default {
  name: "Quiz",
  components: {
    QuestionBox
  },
  data: () => ({
    indexCurrent: 0,
    responses: []
  }),
  methods: {
    // Utils of map methods Vuex
    ...mapActions(["saveResponses"]),
    onResolved(response) {
      this.indexCurrent++;
      this.responses.push(response);

      if (this.isLatest) {
        this.saveResponses({
          collection: this.collection.name,
          responses: this.responses
        });
      }
    },
    cancel() {
      this.$router.push("/");
    },
    skip() {
      this.indexCurrent++;
    }
  },
  computed: {
    // Utils of map state Vuex
    ...mapState(["collections", "userResponses"]),
    collection() {
      const { collectionId } = this.$route.params;

      return this.collections.find(c => c.id == collectionId);
    },
    questions() {
      return this.collection.questions;
    },
    unsolvedQuestions() {
      const solveds = this.responses.map(r => r.question);

      return this.collection.questions.map(q => solveds.includes(q.question));
    },
    correctQuestions() {
      return this.collections.questions.map(q => this.responses.includes(q));
    },
    totalQuestions() {
      return this.questions.length;
    },
    totalResolveds() {
      return this.responses.length;
    },
    progress() {
      return percentOf(this.totalResolveds, this.totalQuestions);
    },
    shuffledAnswers() {
      return shuffle(this.unsolvedQuestions);
    },
    currentQuestion() {
      return this.shuffledAnswers[this.indexCurrent];
    },
    isLatest() {
      return this.indexCurrent == this.totalQuestions - 1;
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
