<template>
  <b-card title="Quiz Collection" class="shadow-sm">
    <b-card-text>
      <b-button variant="primary" to="/create-quiz">Create Quiz</b-button>
    </b-card-text>
    <b-card-text>
      <CollectionList :collections="collections" />
    </b-card-text>
    <template v-slot:footer>
      <small class="text-muted"></small>
    </template>
  </b-card>
</template>

<script>
import CollectionList from "../components/CollectionList";
import { mapState } from "vuex";

export default {
  name: "QuizCollections",
  components: {
    CollectionList
  },
  computed: {
    ...mapState(["collections"])
  }
};
</script>

<style lang='scss' scoped>
</style>
