<template>
  <b-list-group>
    <CollectionInfo
      v-for="(collection, index) in collections"
      :key="index"
      :collection="collection.name"
      :to="`quiz/${collection.id}`"
      :totalQuestions="collection.questions.length"
      :totalCompleteds="0"
      @click.native="onSelect(collection.id)"
    />
  </b-list-group>
</template>

<script>
import CollectionInfo from "./CollectionInfo";

export default {
  name: "CategoryList",
  components: {
    CollectionInfo
  },
  props: {
    collections: Array
  },
  methods: {
    onSelect(id) {
      this.$emit("select", id);
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
