<template>
  <b-list-group-item class="d-flex justify-content-between align-items-center">
    <router-link :to="to">{{ collection }}</router-link>
    <b-badge variant="dark" pill>{{ progress }} %</b-badge>
  </b-list-group-item>
</template>

<script>
export default {
  name: "CollectionInfo",
  props: {
    collection: String,
    totalQuestions: Number,
    totalResolveds: Number,
    to: String
  },
  computed: {
    progress() {
      return (this.totalResolveds * 100) / this.totalQuestions || 0;
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
