<template>
  <b-navbar toggleable="lg" type="dark" variant="dark" class="mb-2">
    <router-link to="/">
      <b-navbar-brand tag="h1" class="mb-0">V-Quiz</b-navbar-brand>
    </router-link>
  </b-navbar>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang='scss' scoped>
</style>
