<template>
  <b-card>
    <h4 class="text-center">{{ question }}</h4>
    <b-form @submit.prevent="onSubmit">
      <b-form-group>
        <b-form-radio
          v-for="(opt, index) in options"
          :key="index"
          :value="opt"
          v-model="choice"
        >{{ opt.name }}</b-form-radio>
      </b-form-group>

      <div v-if="!noActions">
        <b-button class="mr-1" variant="outline-danger" @click="onCancel">Cancel</b-button>
        <b-button class="mr-1" variant="primary" :disabled="!choice" type="submit">{{ labelSubmit }}</b-button>
        <b-button variant="outline-info" :disabled="isLatest" @click="onSkip">Skip</b-button>
      </div>
    </b-form>
  </b-card>
</template>

<script>
export default {
  name: "QuestionBox",
  props: {
    question: String,
    options: Array,
    isLatest: Boolean,
    noActions: Boolean
  },
  data: () => ({
    choice: null
  }),
  methods: {
    onCancel() {
      this.$emit("cancel");
    },
    onSkip() {
      this.$emit("skip");
    },
    onSelect(choice) {
      this.choice = choice;
    },
    onSubmit() {
      this.$emit("resolved", {
        question: this.question,
        option: this.choice
      });

      if (this.isLatest) {
        this.$emit("finished");
      }

      this.choice = null;
    }
  },
  computed: {
    labelSubmit() {
      return this.isLatest ? "Finish" : "Submit";
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
