<template>
  <div id="app">
    <Header />
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Header from "@/components/Header";

export default {
  name: "",
  data: () => ({}),
  components: {
    Header
  },
  created() {
    this.fetchDataQuiz();
    this.fetchResponses();
  },
  methods: {
    ...mapActions(["fetchDataQuiz", "fetchResponses"])
  }
};
</script>

<style lang="scss">
* {
  user-select: none;
  :focus {
    outline: none;
  }
}
</style>
